@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme="light"] {
    --color-primary: 243 238 234;
    --color-secondary: 235 227 213;
    --color-third: 176 166 149;
    --color-accent: 119 107 93;
    --text-title: 37 37 37;
    --text-primary: 37 37 37;
  }
  html[data-theme="coffee"] {
    --color-primary: 243 238 234;
    --color-secondary: 235 227 213;
    --color-third: 176 166 149;
    --color-accent: 119 107 93;
    --text-title: 37 37 37;
    --text-primary: 37 37 37;
  }
  html[data-theme="dark"] {
    --color-primary: 4 13 18;
    --color-secondary: 24 61 61;
    --color-third: 147 177 166;
    --color-accent: 92 131 116;
    --text-primary: 128 128 128;
    --text-title: 37 37 37;
  }

  html[data-theme="winter"] {
    --color-primary: 22 72 99;
    --color-secondary: 66 125 157;
    --color-third: 155 190 200;
    --color-accent: 221 242 253;
    --text-primary: 255 255 255;
    --text-title: 37 37 37;
  }

  html[data-theme="christmas"] {
    --color-primary: 194 16 16;
    --color-secondary: 230 72 72;
    --color-third: 255 253 227;
    --color-accent: 207 232 169;
    --text-primary: 255 255 255;
    --text-title: 37 37 37;
  }

  ::selection {
    background-color: rgb(var(--color-accent));
    color: rgb(var(--color-secondary));
  }
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.15s;
  animation-fill-mode: ease-in-out;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.25s;
  animation-fill-mode: ease-in-out;
}
